In [1]:
import pandas as pd
import numpy as np

In [2]:
raw_data = pd.read_csv("bike_price.csv")

In [3]:
raw_data.head(10)

                                 brand             features       price
0               Honda Activa 5G - 2018           11,500 kms    ₹15,000
1             Bajaj Dominar 400 - 2019           21,863 kms  ₹1,55,000
2     Royal Enfield Classic 500 - 2018           39,000 kms  ₹1,58,000
3     Royal Enfield Classic 500 - 2018           39,000 kms  ₹1,50,000
4                 TVS Ntorq 125 - 2020            5,300 kms    ₹31,500
5               Hero Xpulse 200 - 2022  400 kms / 1st Owner  ₹1,35,000
6       Harley Davidson Fat Boy - 2015           12,600 kms  ₹7,40,000
7     Royal Enfield Classic 350 - 2019           29,800 kms  ₹1,20,000
8  Royal Enfield Bullet Electra - 2013           53,500 kms    ₹65,000
9                TVS Star Sport - 2018            6,840 kms    ₹34,500

## Issues to handle

1. Seperating Brand and Model from brand column
2. Seperating year from brand column
3. Seperating Kms, fuel from features column
4. Removing 'kms', and comma from kms column
5. Removing rupees sign and comma from price column
6. Changing datatypes of few columns

In [4]:
raw_data[['Model','Year']] = raw_data.brand.str.split("-",expand=True,)

In [5]:
raw_data.head()

,brand,features,price,Model,Year
0,Honda Activa 5G - 2018,"11,500 kms","₹15,000",Honda Activa 5G,2018
1,Bajaj Dominar 400 - 2019,"21,863 kms","₹1,55,000",Bajaj Dominar 400,2019
2,Royal Enfield Classic 500 - 2018,"39,000 kms","₹1,58,000",Royal Enfield Classic 500,2018
3,Royal Enfield Classic 500 - 2018,"39,000 kms","₹1,50,000",Royal Enfield Classic 500,2018
4,TVS Ntorq 125 - 2020,"5,300 kms","₹31,500",TVS Ntorq 125,2020

In [6]:
raw_data["Brand"]=raw_data['Model'].str.split(' ').str[0]

In [25]:
raw_data["Brand"] = raw_data['Brand'].replace({'Royal': 'Royal Enfield', 'YO': 'YO Bikes'})
raw_data["Year"] = raw_data['Year'].replace({' Before 1995': '1995'})

In [8]:
raw_data.head()

,brand,features,price,Model,Year,Brand
0,Honda Activa 5G - 2018,"11,500 kms","₹15,000",Honda Activa 5G,2018,Honda
1,Bajaj Dominar 400 - 2019,"21,863 kms","₹1,55,000",Bajaj Dominar 400,2019,Bajaj
2,Royal Enfield Classic 500 - 2018,"39,000 kms","₹1,58,000",Royal Enfield Classic 500,2018,Royal Enfield
3,Royal Enfield Classic 500 - 2018,"39,000 kms","₹1,50,000",Royal Enfield Classic 500,2018,Royal Enfield
4,TVS Ntorq 125 - 2020,"5,300 kms","₹31,500",TVS Ntorq 125,2020,TVS

In [9]:
raw_data.drop("brand", axis=1, inplace =True)

In [10]:
raw_data.head()

     features       price                       Model   Year          Brand
0  11,500 kms    ₹15,000             Honda Activa 5G    2018          Honda
1  21,863 kms  ₹1,55,000           Bajaj Dominar 400    2019          Bajaj
2  39,000 kms  ₹1,58,000   Royal Enfield Classic 500    2018  Royal Enfield
3  39,000 kms  ₹1,50,000   Royal Enfield Classic 500    2018  Royal Enfield
4   5,300 kms    ₹31,500               TVS Ntorq 125    2020            TVS

In [11]:
raw_data['Kms_driven'] = raw_data.features.str.split("/").str.get(0)

In [12]:
raw_data.head()

,features,price,Model,Year,Brand,Kms_driven
0,"11,500 kms","₹15,000",Honda Activa 5G,2018,Honda,"11,500 kms"
1,"21,863 kms","₹1,55,000",Bajaj Dominar 400,2019,Bajaj,"21,863 kms"
2,"39,000 kms","₹1,58,000",Royal Enfield Classic 500,2018,Royal Enfield,"39,000 kms"
3,"39,000 kms","₹1,50,000",Royal Enfield Classic 500,2018,Royal Enfield,"39,000 kms"
4,"5,300 kms","₹31,500",TVS Ntorq 125,2020,TVS,"5,300 kms"

In [13]:
raw_data.drop("features", axis=1, inplace =True)

In [14]:
raw_data.Brand.unique()

array(['Honda', 'Bajaj', 'Royal Enfield', 'TVS', 'Hero', 'Harley',
       'Yamaha', 'Suzuki', 'KTM', 'Mahindra', 'LML', 'YO Bikes', 'Jawa',
       'Ather', 'BMW', 'Yezdi', 'Indian', 'Aprilia', 'UM', 'Hyosung',
       'Benelli', 'Kawasaki'], dtype=object)

In [15]:
raw_data['Kms_driven']=raw_data['Kms_driven'].str.split().str.get(0).str.replace(',','').astype(np.int64)

In [16]:
raw_data.head()

        price                       Model   Year          Brand  Kms_driven
0    ₹15,000             Honda Activa 5G    2018          Honda       11500
1  ₹1,55,000           Bajaj Dominar 400    2019          Bajaj       21863
2  ₹1,58,000   Royal Enfield Classic 500    2018  Royal Enfield       39000
3  ₹1,50,000   Royal Enfield Classic 500    2018  Royal Enfield       39000
4    ₹31,500               TVS Ntorq 125    2020            TVS        5300

In [18]:
raw_data["Price"] = raw_data.price.str.split("₹",expand=True,).get(1).str.replace(',','')

In [19]:
raw_data.drop("price",axis=1,inplace=True)

In [20]:
raw_data.head()

                        Model   Year          Brand  Kms_driven    Price
0            Honda Activa 5G    2018          Honda       11500   15000
1          Bajaj Dominar 400    2019          Bajaj       21863  155000
2  Royal Enfield Classic 500    2018  Royal Enfield       39000  158000
3  Royal Enfield Classic 500    2018  Royal Enfield       39000  150000
4              TVS Ntorq 125    2020            TVS        5300   31500

In [21]:
raw_data['Model']=raw_data['Model'].str.split().str.slice(start=0,stop=4).str.join(' ')

In [22]:
raw_data.head()

                       Model   Year          Brand  Kms_driven    Price
0            Honda Activa 5G   2018          Honda       11500   15000
1          Bajaj Dominar 400   2019          Bajaj       21863  155000
2  Royal Enfield Classic 500   2018  Royal Enfield       39000  158000
3  Royal Enfield Classic 500   2018  Royal Enfield       39000  150000
4              TVS Ntorq 125   2020            TVS        5300   31500

In [23]:
print(raw_data.dtypes)

Model         object
Year          object
Brand         object
Kms_driven     int64
Price         object
dtype: object

In [26]:
raw_data["Year"]=raw_data.Year.astype(np.int64)

In [27]:
raw_data.isnull().sum()

Model          0
Year           0
Brand          0
Kms_driven     0
Price         11
dtype: int64

In [28]:
raw_data.to_csv('Cleaned_bike_data.csv',index=False)